# Build and Cache files
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
dist/
build/
*.pyd
*.so
*.obj
*.o
build/
# Environment files
.env
venv/

# OS Files
.DS_Store
Thumbs.db
Local_Testing/
local testing/